axes.labelsize  : 9.0  # fontsize of the x any y labels  
xtick.labelsize : 9.0  # fontsize of the tick labels  
ytick.labelsize : 9.0  # fontsize of the tick labels  
legend.fontsize : 9.0 
legend.labelspacing  : 0.1 
legend.frameon : False
legend.handletextpad : 0.2
lines.markersize  : 4 
lines.linewidth   : 1.0 
errorbar.capsize : 2
font.family     : serif  
font.serif      : Computer Modern Roman  
font.sans-serif : Arial
font.size       : 9 
text.usetex     : True  # use latex for all text handling  
text.latex.preamble : \usepackage{txfonts},\usepackage{lmodern},\usepackage{helvet}
mathtext.default : regular
figure.figsize  : 3.25, 2.5
figure.dpi      : 500  
xtick.direction : in  
ytick.direction : in  
xtick.top       : on
ytick.right     : on
savefig.dpi     : 500 

